* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.container{
  width: 400px;
  background-color: wheat;
  border-radius: 3px;
padding:30px}
a {
 text-decoration: none;
}
body{
  font-family: -apple-system;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: royalblue;
  justify-content: center;
  display: flex;
}